@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';

body {
  background-color: #333;
  color: #ecf0f1;
}
h1 {
  width: 100%;
  text-align: center;
}
.input-group {
  max-width: 50%;
  margin: 0 auto;
  .input-group-addon:hover {
    font-size: 110%;
  }
  @media screen and (max-width: 768px) {
    max-width: 75%;
  }
}
.row {
  max-width: 50%;
  margin: 0 auto;
  .col-sm-12, .col-md-12 {
    padding: 0;
  }
  @media screen and (max-width: 768px) {
    max-width: 75%;
  }
}
.display-image {
  position: relative;
  width: 100%
}
.window {
  position: absolute;
  left: 5px;
  top: 5px;
}
.btn {
  margin: 5px 0px;
  white-space: normal;
}
.map-container {
  font-size: 90%;
  display: flex;
  flex-direction: row;
  .address {
    flex-grow: 1;
  }
  .map {
    flex-grow: 2;
    div {
      display: flex;
      flex-direction: column;
      img {
        max-width: 100%;
      }
    }
  }
}
