@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';

body {
  background-color: #333;
  color: #ecf0f1;
}
h1 {
  width: 100%;
  text-align: center;
}
.input-group {
  max-width: 70%;
  margin: 0 auto;
  .input-group-addon:hover {
    font-size: 110%;
  }
}
.row {
  max-width: 70%;
  margin: 0 auto;
  .col-sm-12, .col-md-12 {
    padding: 0;
  }
}
.display-image {
  position: relative;
}
.window {
  position: absolute;
  left: 5px;
  top: 5px;
}
